{% extends 'base.html.twig' %}

{% block title %}Hello TypesPknController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1 class="title"> <ion-icon name="sparkles-outline"></ion-icon> Liste des Type </h1>
        <a class="btn btn-secondary float-right "
           href="{{ path('types_pkn_insert') }}" > Créer un Type </a>

        <div class="row">
            <div class="col-sm m-3">
                <div class="card" style="width: 18rem;">
                    <svg class="bd-placeholder-img card-img-top"
                         width="100%"
                         height="180"
                         xmlns="http://www.w3.org/2000/svg"
                         role="img"
                         aria-label="Placeholder: Image cap"
                         preserveAspectRatio="xMidYMid slice"
                         focusable="false">
                        {#<title>Placeholder</title>#}
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        {#<text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>#}
                    </svg>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ path('types_pkn_details', {'id': '1'}) }}" class="btn btn-secondary">
                            <ion-icon class="icon" name="eye-outline"></ion-icon></a>
                        <a href="{{ path('types_pkn_update', {'id': '1'}) }}" class="btn btn-secondary">
                            <ion-icon class="icon" name="create-outline"></ion-icon></a>
                        <a href="{{ path('types_pkn_delete', {'id': '1'}) }}" class="btn btn-secondary">
                            <ion-icon class="icon" name="trash-outline"></ion-icon></a>
                    </div>
                </div>
            </div>
            <div class="col-sm m-2" >
                <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <svg class="bd-placeholder-img card-img-top"
                                 width="100%"
                                 height="100%"
                                 xmlns="http://www.w3.org/2000/svg"
                                 role="img"
                                 aria-label="Placeholder: Image cap"
                                 preserveAspectRatio="xMidYMid slice"
                                 focusable="false">
                                {#<title>Placeholder</title>#}
                                <rect width="100%" height="100%" fill="#868e96"></rect>
                                {#<text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>#}
                            </svg>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <a href="{{ path('types_pkn_details', {'id': '1'}) }}" class="btn btn-secondary">
                                    <ion-icon class="icon" name="eye-outline"></ion-icon></a>
                                <a href="{{ path('types_pkn_update', {'id': '1'}) }}" class="btn btn-secondary">
                                    <ion-icon class="icon" name="create-outline"></ion-icon></a>
                                <a href="{{ path('types_pkn_delete', {'id': '1'}) }}" class="btn btn-secondary">
                                    <ion-icon class="icon" name="trash-outline"></ion-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-dark table-striped shadow p-3 mb-5 bg-body rounded">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Feu</td>
                <td>Lorem ipsum ...</td>
                <td class="action">
                    <a href="{{ path('types_pkn_details', {'id': '1'}) }}" class="btn btn-secondary">
                        <ion-icon class="icon" name="eye-outline"></ion-icon></a>
                    <a href="{{ path('types_pkn_update', {'id': '1'}) }}" class="btn btn-secondary">
                        <ion-icon class="icon" name="create-outline"></ion-icon></a>
                    <a href="{{ path('types_pkn_delete', {'id': '1'}) }}" class="btn btn-secondary">
                        <ion-icon class="icon" name="trash-outline"></ion-icon></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
