{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1> <ion-icon name="person-outline"></ion-icon> Détails de l'utilisateur #{{ user.id }} </h1>
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body d-flex align-item-center">
            <img class="m-2" style="width:auto; height: 90px;" src="{{ user.avatar }}" alt="">
            <div class="m-2 d-flex align-item-center justify-content-center flex-column" >
                <h5 class="card-title"> {{ user.nom }} {{ user.prenom }}</h5>
                <p class="card-text"> {{ user.email }}</p>
            </div>

        </div>
        <div class="card-footer">
            <a href="{{ path('users_update', {'id': user.id}) }}" class="btn btn-secondary">
                <ion-icon class="icon" name="create-outline"></ion-icon></a>
            <a href="{{ path('users_delete', {'id': user.id }) }}" class="btn btn-secondary">
                <ion-icon class="icon" name="trash-outline"></ion-icon></a>
        </div>
    </div>
</div>
{% endblock %}
